@page "/"

@using Radzen.Blazor.Rendering
@using BlazorFileManager.Services
@inject IFileManagerClient _fileManagerClient
@inject IJSRuntime JSRuntime
@inject DialogService DialogService

<PageTitle>Blazor File Manager</PageTitle>

@if (_currentFolder is null || _currentFolder.InnerItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center"
                 Gap="1rem" Wrap="FlexWrap.Wrap" class="my-2" Style="height: 5vh">
        <RadzenButton Text="Add New Folder" @ref=_addNewFolder
                      Click="@(args => _createNewFolderDialog.ToggleAsync(_addNewFolder.Element))"
                      Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Disabled="_currentFolder.IsRoot" />
        <RadzenButton Text="Delete Folder" @ref=_deleteFolder
                      Click="@(args => _deleteFolderConfirmationDialog.ToggleAsync(_deleteFolder.Element))"
                      Icon="delete_forever" ButtonStyle="ButtonStyle.Primary"
                      Disabled="@(!_isFolderSelected || 
                                  _currentFolder.IsRoot || 
                                  _selectedCellData.Any(x => x.Item1.Name == _fileManagerClient.ParentFolderDisplayName))" />
        @if (!string.IsNullOrWhiteSpace(_errorMessage))
        {
            <RadzenAlert Variant="Variant.Flat" AlertStyle="AlertStyle.Warning" Style="width: auto;"
                         Shade="Shade.Lighter" Size="AlertSize.ExtraSmall" AllowClose=true>
                @_errorMessage
            </RadzenAlert>
        }
    </RadzenStack>
    <Popup @ref=_createNewFolderDialog Lazy=false Open="@OnCreateNewDirectory"
           Style="display:none;position:absolute;height:auto;width:600px; margin-top: 10%; left: auto;">
        <div class="row" style="width:600px;">
            <div class="col offset-lg-3 bg-white rounded-3 p-3 shadow" style="width:600px;">
                <RadzenTemplateForm TItem="ValidationModel" Data=@DirectoryNameValidationModel Submit=@OnSubmit
                                    InvalidSubmit=@OnInvalidSubmit>
                    <RadzenFieldset Text="Create New Directory">
                        <div class="col" style="width:600px;">
                            <RadzenTextBox style="display: block"
                                           Name="Email"
                                           @bind-Value=@DirectoryNameValidationModel.DirectoryName class="w-100"
                                           Placeholder="Enter new directory name..." />
                            <RadzenRequiredValidator Component="Email" Text="Email is required" Popup=@popup />
                            <RadzenCustomValidator Component="Email"
                                                   Validator="@(() => ValidateNewEmail(DirectoryNameValidationModel.DirectoryName))"
                                                   Text="@DirectoryNameValidationErrorMessage"
                                                   Popup=@popup />
                        </div>
                        <div class="col mt-1">
                            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="1">
                                <RadzenButton Variant="Variant.Text" class="rz-text-secondary-color" Text="Cancel"
                                              Click=@CloseCreateDirectoryDialog />
                                <RadzenButton ButtonType="ButtonType.Submit" Variant="Variant.Text"
                                              Icon="add_circle_outline" Text="Create" />
                            </RadzenStack>
                        </div>
                    </RadzenFieldset>
                </RadzenTemplateForm>
            </div>
        </div>
    </Popup>
    <Popup @ref=_deleteFolderConfirmationDialog Lazy=false Open="@OnDeleteDirectory"
           Style="display:none;position:absolute;height:auto;width:600px; margin-top: 10%; left: auto;">
        <div class="row">
            <div class="col bg-white rounded-3 p-3 shadow">
                <RadzenFieldset Text="Delete Directory" Style="text-align: center">
                    <div class="align-items-center my-2">
                        <span class="h3 pe-3">Are you sure?</span>
                    </div>
                    <div class="my-2">
                        <RadzenSwitch @bind-Value=@_deleteFolderWithContents />
                        <span class="ms-2">Recursive deletion</span>
                    </div>
                    <div class="d-flex my-3 align-items-center justify-content-center">
                        <span hidden="@(!_deleteFolderWithContents)">
                            This deletes <b>all</b> files and folders within the folder and can not be undone
                        </span>
                        <span class="align-items-center ms-1">
                            <RadzenIcon Icon="warning" Style="align-items: center"
                                        IconColor="@Colors.Danger" Visible="@_deleteFolderWithContents" />
                        </span>
                    </div>
                    <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End" Gap="3">
                        <RadzenButton Variant="Variant.Text" class="rz-text-secondary-color" Text="Cancel"
                                      Click=@CloseDeleteDirectoryDialog />
                        <RadzenButton Variant="Variant.Text" Text="Delete" Click=@ConfirmDeleteDirectory />
                    </RadzenStack>
                </RadzenFieldset>
            </div>
        </div>
    </Popup>
    <RadzenSplitter Orientation="Orientation.Vertical" style="height: 85vh; border: 1px solid rgba(0,0,0,.08);">
        <RadzenSplitterPane Size="100px">
            <RadzenSplitter>
                <RadzenSplitterPane Size="60%" Min="20%" Max="80%">
                    <RadzenDataGrid Data="@_currentFolder.InnerItems" TItem="FileSystemItemViewModel"
                                    AllowVirtualization="true" Style="height:85vh"
                                    GridLines="DataGridGridLines.Vertical"
                                    AllowSorting="true" AllowColumnResize="true"
                                    AllowRowSelectOnRowClick="true"
                                    CellClick="@OnCellClick" CellDoubleClick="OnCellDoubleClick"
                                    CellRender="OnCellRender">
                        <Columns>
                            <RadzenDataGridColumn TItem="FileSystemItemViewModel" Property="Name" Title="Name">
                                <Template Context="item">
                                    @item.Name
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="FileSystemItemViewModel"
                                                  Property="Extension" Title="Ext" MinWidth="10%" Width="10%" />
                            <RadzenDataGridColumn TItem="FileSystemItemViewModel"
                                                  Property="Size" Title="Size" MinWidth="10%" Width="10%" />
                            <RadzenDataGridColumn TItem="FileSystemItemViewModel"
                                                  Property="ModifiedDate" Title="Date" Width="20%" />
                        </Columns>
                    </RadzenDataGrid>
                </RadzenSplitterPane>
                <RadzenSplitterPane>
                    <RadzenStack Class="rz-mx-auto rz-my-12 h-100">
                        <RadzenText Visible="@(!string.IsNullOrWhiteSpace(TextFileContents))"
                                    Style="white-space: pre-wrap"
                                    TextAlign="TextAlign.Left">
                            @TextFileContents
                        </RadzenText>
                        <RadzenStack AlignItems="AlignItems.Center"
                                     JustifyContent="JustifyContent.Center"
                                     Class="rz-mx-auto rz-my-12 h-100">
                            <RadzenIcon Icon="storage" Style="font-size: 10rem;" Visible="@(ViewMessage == "disk")" />
                            <RadzenIcon Icon="folder" Style="font-size: 10rem;" Visible="@(ViewMessage == "folder")" />
                            <RadzenIcon Icon="description" Style="font-size: 10rem;" Visible="@(ViewMessage == "file")" />
                            <RadzenImage Path="@($"data:image/jpeg;base64,{_base64Image}")"
                                         Style="max-width: 100%; height: auto;"
                                         AlternateText="No Preview for this item"
                                         Visible="@(!string.IsNullOrWhiteSpace(_base64Image))" />
                        </RadzenStack>
                    </RadzenStack>
                </RadzenSplitterPane>
            </RadzenSplitter>
        </RadzenSplitterPane>
    </RadzenSplitter>
    <RadzenTextBox Disabled="true"
                   Placeholder="@_currentFolder.FullPath" class="w-100 mt-1"
                   Style="height: 3vh;" aria-label="Disabled TextBox" />
}